.nothing__main-content{
    align-items: center;
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;

    p{
        text-align: center;
    }

}