.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes__appbar{
    align-items: center;
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 13px 20px 13px 20px;
    // padding: 20px, 40px;
}
.notes_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    padding: 20px;
    
}

.notes__title-input, .notes_textarea{
    border: none;

    &:focus {
        outline: none;
    }
}

.notes__title-input{
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: 6px;
    border: 2px solid $dark-grey;
}

.notes_textarea{
    // border: 1px solid black;
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    margin-bottom: 10px;
    padding: 5px 5px;
    resize: none;
    border-radius: 6px;
    border: 2px solid $dark-grey;
}

.notes__image img {
    // box-shadow: 5px 5px $dark-grey;
    margin: 0 auto;
    height: 150px;
    border-radius: 6px;
    border: 1px solid black;
    display: block;
}